.navbar {
    color: #000;
    font-weight: bold;
    display: flex;
    
}
.linav {
    background-color: black;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 15px;
    padding: 10px;
    list-style-type: none;

}
.divul {
    width: 100%;
}
.ulnav {
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: aqua;
}
.linav:hover{
    background-color: #fff;
    color: rgb(0, 157, 165);
}
.headnav {
    width: 100%;
  display: flex;
  justify-content: space-around;
}