.itemListContainer {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: rgb(121, 2, 82);
    display: flex;
    flex-direction: column;
}
.tituloDiv {
    padding: 20px;
}
.itemList {
    display: flex;
    flex-direction: row;
}